@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.obox{
    background-color: rgb(239, 178, 11);
    width:40vw;
    height:63vh;
    padding-top: 1.8%;
    padding-left:1%;
    margin-top: 8%;
    border: 2px solid rgb(21, 21, 21);
}

.head{
    font-family: 'Pangolin', cursive;
    overflow: hidden;
    margin-bottom: 6%;
}

.inpbox{
    width:35%;
    padding: 1.8%;
    border:none;
    margin-right:2%;
    border-radius: 2vh;
}

.tnc{
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 2%;
}

.btn{
    padding:1%;
    width:8vw;
    border-radius: 1vw;
    background-color: 	#000000;
    border-color: rgb(66, 65, 64);
    cursor:pointer;
    color:white;
    margin-bottom: 2%;
    margin-top: 1.8%;
}

.btn:hover{
    background-color: 	#4a4945;
}

.lgnlink{
    text-decoration: none; 
    color:black;
}

.lgnlink:hover{
    color:#37352a;
}
